//-- **/
//-- *iCON COMPONENTS
//-- *DATED: 5 JANURAY 2015
//-- **/


-icons_fa = ["fa-renren","fa-adjust","fa-anchor","fa-archive","fa-area-chart","fa-arrows","fa-arrows-h","fa-arrows-v","fa-asterisk","fa-at","fa-automobile","fa-ban","fa-bank","fa-bar-chart","fa-bar-chart-o","fa-barcode","fa-bars","fa-beer","fa-bell","fa-bell-o","fa-bell-slash","fa-bell-slash-o","fa-bicycle","fa-binoculars","fa-birthday-cake","fa-bolt","fa-bomb","fa-book","fa-bookmark","fa-bookmark-o","fa-briefcase","fa-bug","fa-building","fa-building-o","fa-bullhorn","fa-bullseye","fa-bus","fa-cab","fa-calculator","fa-calendar","fa-calendar-o","fa-camera","fa-camera-retro","fa-car","fa-caret-square-o-down","fa-caret-square-o-left","fa-caret-square-o-right","fa-caret-square-o-up","fa-cc","fa-certificate","fa-check","fa-check-circle","fa-check-circle-o","fa-check-square","fa-check-square-o","fa-child","fa-circle","fa-circle-o","fa-circle-o-notch","fa-circle-thin","fa-clock-o","fa-close","fa-cloud","fa-cloud-download","fa-cloud-upload","fa-code","fa-code-fork","fa-coffee","fa-cog","fa-cogs","fa-comment","fa-comment-o","fa-comments","fa-comments-o","fa-compass","fa-copyright","fa-credit-card","fa-crop","fa-crosshairs","fa-cube","fa-cubes","fa-cutlery","fa-dashboard","fa-database","fa-desktop","fa-dot-circle-o","fa-download","fa-edit","fa-envelope","fa-envelope-o","fa-envelope-square","fa-eraser","fa-exchange","fa-exclamation","fa-exclamation-circle","fa-exclamation-triangle","fa-eye","fa-eye-slash","fa-eyedropper","fa-fax","fa-female","fa-fighter-jet","fa-file-archive-o","fa-file-audio-o","fa-file-code-o","fa-file-excel-o","fa-file-image-o","fa-file-movie-o","fa-file-pdf-o","fa-file-photo-o","fa-file-picture-o","fa-file-powerpoint-o","fa-file-sound-o","fa-file-video-o","fa-file-word-o","fa-file-zip-o","fa-film","fa-filter","fa-fire","fa-fire-extinguisher","fa-flag","fa-flag-checkered","fa-flag-o","fa-flash","fa-flask","fa-folder","fa-folder-o","fa-folder-open","fa-folder-open-o","fa-frown-o","fa-futbol-o","fa-gamepad","fa-gavel","fa-gear","fa-gears","fa-gift","fa-glass","fa-globe","fa-graduation-cap","fa-group","fa-hdd-o","fa-headphones","fa-heart","fa-heart-o","fa-history","fa-home","fa-image","fa-inbox","fa-info","fa-info-circle","fa-institution","fa-key","fa-keyboard-o","fa-language","fa-laptop","fa-leaf","fa-legal","fa-lemon-o","fa-level-down","fa-level-up","fa-location-arrow","fa-lock","fa-magic","fa-magnet","fa-mail-forward","fa-mail-reply","fa-mail-reply-all","fa-male","fa-map-marker","fa-meh-o","fa-microphone","fa-microphone-slash","fa-minus","fa-minus-circle","fa-minus-square","fa-minus-square-o","fa-mobile","fa-mobile-phone","fa-money","fa-moon-o","fa-mortar-board","fa-music","fa-navicon","fa-newspaper-o","fa-paint-brush","fa-paper-plane","fa-paper-plane-o","fa-paw","fa-pencil","fa-pencil-square","fa-pencil-square-o","fa-phone","fa-phone-square","fa-photo","fa-picture-o","fa-pie-chart","fa-plane","fa-plug","fa-plus","fa-plus-circle","fa-plus-square","fa-plus-square-o","fa-power-off","fa-print","fa-puzzle-piece","fa-qrcode","fa-question","fa-question-circle","fa-quote-left","fa-quote-right","fa-random","fa-recycle","fa-refresh","fa-remove","fa-reorder","fa-reply","fa-reply-all","fa-retweet","fa-road","fa-rocket","fa-rss","fa-rss-square","fa-search","fa-search-minus","fa-search-plus","fa-send","fa-send-o","fa-share","fa-share-alt","fa-share-alt-square","fa-share-square","fa-share-square-o","fa-shield","fa-shopping-cart","fa-sign-in","fa-sign-out","fa-signal","fa-sitemap","fa-smile-o","fa-soccer-ball-o","fa-sort","fa-sort-alpha-asc","fa-sort-alpha-desc","fa-sort-amount-asc","fa-sort-amount-desc","fa-sort-asc","fa-sort-desc","fa-sort-down","fa-sort-numeric-asc","fa-sort-numeric-desc","fa-sort-up","fa-space-shuttle","fa-spinner","fa-spoon","fa-square","fa-square-o","fa-star","fa-star-half","fa-star-half-empty","fa-star-half-full","fa-star-half-o","fa-star-o","fa-suitcase","fa-sun-o","fa-support","fa-tablet","fa-tachometer","fa-tag","fa-tags","fa-tasks","fa-taxi","fa-terminal","fa-thumb-tack","fa-thumbs-down","fa-thumbs-o-down","fa-thumbs-o-up","fa-thumbs-up","fa-ticket","fa-times","fa-times-circle","fa-times-circle-o","fa-tint","fa-toggle-down","fa-toggle-left","fa-toggle-off","fa-toggle-on","fa-toggle-right","fa-toggle-up","fa-trash","fa-trash-o","fa-tree","fa-trophy","fa-truck","fa-tty","fa-umbrella","fa-university","fa-unlock","fa-unlock-alt","fa-unsorted","fa-upload","fa-user","fa-users","fa-video-camera","fa-volume-down","fa-volume-off","fa-volume-up","fa-warning","fa-wheelchair","fa-wifi","fa-wrench"]
- icon_flat=["flaticon-antique25","flaticon-architecture1","flaticon-barrier4","flaticon-barrow","flaticon-big101","flaticon-brick4","flaticon-bricks3","flaticon-building109","flaticon-building32","flaticon-building36","flaticon-building39","flaticon-building40","flaticon-building41","flaticon-buildings10","flaticon-buildings16","flaticon-castle11","flaticon-city21","flaticon-construction10","flaticon-construction11","flaticon-construction12","flaticon-construction14","flaticon-construction17","flaticon-construction28","flaticon-construction51","flaticon-constructor2","flaticon-constructor4","flaticon-constructor5","flaticon-crane19","flaticon-crane20","flaticon-crane9","flaticon-double119","flaticon-hammer26","flaticon-handy","flaticon-helmet18","flaticon-house109","flaticon-house110","flaticon-house111","flaticon-house112","flaticon-house196","flaticon-industrial5","flaticon-law1","flaticon-modern13","flaticon-opened16","flaticon-opened17","flaticon-pipes","flaticon-pipes1","flaticon-sand10","flaticon-school37","flaticon-spanner10","flaticon-stadium1","flaticon-triangular45","flaticon-triangular46","flaticon-truck29","flaticon-wall20"]
mixin fa_icon(size, address)
	a.no-dac(href="#{address}")
		- v = parseInt(Math.random() * icons_fa.length)
		div(class="#{size}")
			i(class="fa " + icons_fa[v])&attributes(attributes)

mixin flat_icon(size, address)
	a.no-dac(href="#{address}")
		- v = parseInt(Math.random() * icon_flat.length)
		div(class="#{size}")
			i(class="" + icon_flat[v])&attributes(attributes)


//-**********************Font Awesome Mixin coded here ****************************
//-=========== Font Awesome in background color ================
mixin icon-fa(classes,size, address)
	a(href="#{address}")&attributes(attributes)
		div(class="#{size}")
			i.fa(class=classes)&attributes(attributes)


				//-=======*******============

//-**********************construction Flat Icons Mixin coded here ****************************
//-=========== construction Flat Icons in background color ================
mixin icon-flat(classes,size, address)
	a.no-dac(href="#{address}")&attributes(attributes)
		div(class="#{size}")
			i(class=classes)&attributes(attributes)


//-- 				//-=======*******============


//-**********************Glyphicon Mixin coded here ****************************
//-============Glyphicon default in background color ================
mixin icon-gi(classes, size)
	a.no-dac(href="#{address}")&attributes(attributes)
		div(class="#{size}")
			i.glyphicon(class=classes)&attributes(attributes)